.card {
    box-shadow: 1px 2px 16px 3px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.info {
    padding: 15px;
}
.title {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
.price {
    font-weight: 800;
}
.button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
   background: linear-gradient(to right, #4ac29a, #bdfff3, #cbb4d4, #C33764);
   cursor: pointer;
   font-weight: 600;
   transition: scale 200ms linear;
}
.button:hover {
    scale: calc(1.07);
}
.img {
    margin: 0;
    padding: 0;
}
.chip {
    top: 5px;
    left: 5px;
    position: absolute;
    padding: 5px;
    font-weight: 700;
    border-radius: 5px;
}
.animals {
    background-color: rgb(69, 186, 239);
}
.people {
    background-color:rgb(239, 211, 69);
}
.nature {
    background-color:rgb(208, 69, 239);
}
.icon {
    color: #4ac29a;
}